* * * * * docker /usr/local/bin/php /var/www/html/bin/magento cron:run 2>&1 | grep -v Ran jobs by schedule >> /var/www/html/var/log/cron.log
* * * * * docker /usr/local/bin/php /var/www/html/update/cron.php >> /var/www/html/var/log/cron.log
* * * * * docker /usr/local/bin/php /var/www/html/bin/magento setup:cron:run >> /var/www/html/var/log/cron.log